.hero .carousel-inner img {
    position: relative;
    
}

.hero .col-12 {
    padding: 0px;

}

.navbar {
    background: url("imgs/logo\ backgroundF.jpg") no-repeat center center;
    background-size: cover;
    height: auto;
}


.hero .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: absolute;
    right: 0%;
    bottom: 450px;
    left: 0%;
    z-index: 10;
    padding-bottom: 20px;
    text-align: center;

}

.navbar-brand {
    padding-left: 3vw;
}



.hero h1 {
    font-size: 80px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-shadow: #00000047 0px 0px 4px;
}

.hero h2 {
    font-size: 50px;
    font-weight: lighter;
    color: white;
    text-shadow: #00000047 0px 0px 4px;
    stroke-width: rgba(rgba(0, 0, 0, 0.699)) 5px;
}

@media only screen and (max-width: 1064px) {

    .hero .text {
        height: 52vh;
        bottom: 60px;
    }

    .hero h1 {
        font-size: 50px;

    }

    .hero h2 {
        font-size: 30px;

    }
}

@media only screen and (max-width: 767px) {

    .hero .text {
        height: 25vh;
        bottom: 60px;
    }

    .hero h1 {
        font-size: 30px;

    }

    .hero h2 {
        font-size: 16px;

    }
}


.navbar {
    width: 100%;
    padding: 0%;
    border-bottom: inset;
    border-bottom-color: aliceblue;
}

.nav-item {

    font-size: 35px;
    font-weight: 300;
    padding-right: 2vh;
    padding-left: 2vh;
}

.navbar-collapse {
    justify-content: flex-end;
    padding-right: 3vw;
}

.services {
    border-bottom: none;
    background: -webkit-radial-gradient(#fdfdfd, #4dc5ff2b);
    margin-top: 0.5%;
}


.service {
    height: 470px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.services .icon {
    background: rgb(98, 230, 255);
    background: linear-gradient(0deg, rgba(98, 230, 255, 0.9472163865546218) 0%, rgba(21, 18, 158, 0.9640231092436975) 100%);
    height: 125px;
    width: 125px;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}

.services h3 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
    color: rgb(71, 130, 173);
    text-align: center;
}

.service p {
    text-transform: capitalize;
    text-align: center;
    color: rgb(66, 66, 90);
    margin-top: 20px;
    text-shadow: 0px 0px 4px white;
}

.filler {
    background: url("imgs/filler2clean.png") no-repeat center center;
    background-size: cover;
    height: 212px;
    border-style: inset;
    border-top: none;

}

.filler h1 {
    background: -webkit-linear-gradient(#d47affc2, #5ca7ca);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-origin: content-box;
    text-shadow: 0px 0px 5.5px #1494a052;
    text-align: center;
    padding-top: 3.2%;
}

.h1,
h1 {
    font-size: 5rem;
}

@media only screen and (max-width: 1025px) {

    /* For tablets: */
    .filler h1 {
        font-size: 5rem;
        padding-top: 11px;
    }
}


@media only screen and (max-width: 767px) {

    /* For mobile phones: */
    .filler h1 {
        font-size: 3rem;
    }
}




.deck1 .card-deck {
    background: linear-gradient(0deg, rgba(255, 237, 247, 0.27) 0%, rgba(53, 94, 134, 0.14) 100%);
    margin: 0px;
}


.deck1 .card {
    background: radial-gradient(circle, rgb(238, 174, 174) 0%, rgb(224, 234, 245) 100%);
}

.deck1 .card h5,
h5 {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: #50a1ffa1 0px 0px 3px;
}


.deck1 .card p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: lightgrey 0 0 8px;
}



.deck1 .card img {

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(15%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    border-style: inset;
    border-color: inherit;
}

.deck1 .card img:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0%);
}


.deck1 .card-footer {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-shadow: grey 0 0 1px;
    background: #227ebf17;
}

.deck1 .card-body {
    background: #005ed10a;
}

.filler2 {
    background: url("imgs/worktrip3.jpg") no-repeat center center;
    background-size: cover;
    height: 212px;
    border-style: outset;
}

.filler2 h1 {
    background: -webkit-linear-gradient(#f3f3f3, #00f0ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffffd9;
    background-origin: content-box;
    text-shadow: 0px 0px 5.5px #00315a85;
    text-align: center;
    padding-top: 3.8%;
}



.deck2 .card-deck {
    background: linear-gradient(0deg, rgba(255, 237, 247, 0.27) 0%, rgba(22, 86, 101, 0.15) 100%);
    margin: 0px;
}


.deck2 .card {
    background: radial-gradient(circle, rgb(174, 214, 238) 0%, rgb(101, 101, 101) 100%);
}

.deck2 .card h5,
h5 {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: #50a1ffa1 0px 0px 3px;
}


.deck2 .card p {
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: black 0 0 3px;
}



.deck2 .card img {

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(50%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */




    border-style: inset;
    border-color: inherit;
}

.deck2 .card img:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0%);
}

.deck2 .card-footer {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-shadow: black 0 0 3px;
    background: #227ebf17;
}

.deck2 .card-body {
    background: #005ed10a;
}

.deck2 .text-muted {
    color: #ffffff !important;
}

@media only screen and (max-width: 768px) {
    .filler2 h1 {
        font-size: 3.7rem !important;

    }
}

.sign {
    width: 100%;
    height: auto;
    background: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    font-family: "Robato", sans-serif;
    font-size: 17px;
}

#logreg-forms {
    width: 412px;
    margin: 10vh auto;
    background: linear-gradient(0deg, rgba(98, 230, 255, 1) 0%, rgba(178, 200, 255, 1) 100%);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.12), 0 12px 40px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}

#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#logreg-forms .form-control:focus {
    z-index: 2;
}

#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}

#logreg-forms .social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
}

#logreg-forms a {
    display: block;
    padding-top: 10px;
    color: #fff;
}

#logreg-form .lines {
    width: 200px;
    border: 1px solid red;
}


#logreg-forms button[type="submit"] {
    margin-top: 10px;
}

#logreg-forms .facebook-btn {
    background-color: #3C589C;
}

#logreg-forms .google-btn {
    background-color: #DF4B3B;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
    display: none;
}

#logreg-forms .form-signup .social-btn {
    width: 210px;
}

#logreg-forms .form-signup input {
    margin-bottom: 2px;
}

.form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
}

.submit {
    background: darkblue;
    border-radius: 25px;
    color: #fff;
}

/* Mobile */

@media screen and (max-width:500px) {
    #logreg-forms {
        width: 300px;
    }

    #logreg-forms .social-login {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #logreg-forms .social-btn {
        font-size: 1.3rem;
        font-weight: 100;
        color: white;
        width: 200px;
        height: 56px;

    }

    #logreg-forms .social-btn:nth-child(1) {
        margin-bottom: 5px;
    }

    #logreg-forms .social-btn span {
        display: none;
    }

    #logreg-forms .facebook-btn:after {
        content: 'Facebook';
    }

    #logreg-forms .google-btn:after {
        content: 'Google+';
    }
}

.sign .h3,
h3 {

    font-size: 2.5rem;
    font-weight: lighter;
    color: white;
    text-shadow: 0px 0px 4px darkgrey;
}

.form-signin {
    box-shadow: 0px 0px 3px black;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;

}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato",  "Segoe UI", 'Roboto', "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(0deg, rgb(0, 12, 70) 0%, rgb(83, 151, 214) 100%);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.contact-list {
    text-align: center;
}

.nav-list {
    text-align: center;
}

.brand {
    text-align: center;
}

.section {
    text-align: center;
}

.bg-primary{

 background: linear-gradient(to top, #093d82 0%, #ccffff 100%);

}

.card{
    background: linear-gradient(to top, #d9edff 0%, #000000 100%);
}


.text-white{
    text-shadow: 0px 0px 6px #2b80b9;
    letter-spacing: 4px;
}

.OurTeam{
    margin-bottom: 2%;
}