.hero .carousel-inner img{
    position: relative;
}

.hero .col-12{
    padding: 0px;

}

.navbar{
    background: azure;
}

.hero .text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
height: 70vh;
position: absolute;
right: 0%; 
bottom: 450px;
left: 0%; 
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
text-align: center; 

}

.navbar-brand{
    padding-left: 3vw;
}



.hero h1{
    font-size: 80px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-shadow: black 4px;
}
.hero h2{
    font-size: 50px;
    font-weight: lighter;
    color: white;
    text-shadow: black 4px;
    stroke-width: rgba(rgba(0, 0, 0, 0.699)) 5px;
}
.navbar{
    width: 100%;
}

.nav-item{
    
    font-size:35px;
    font-weight: 300;
    padding-right: 2vh;
    padding-left: 2vh;
}

.navbar-collapse{
    justify-content: flex-end;
    padding-right: 3vw;
}

